
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Index - @ViewBag.Location
</h2>

<p>
    Automated Build provided by AppVeyor.
</p>
<p>
    This should get kicked off aotomagically.
</p>